<div class="card">
    <img src="your-image.jpg" class="card-img-top" alt="Instagram Post">
    <div class="card-body">
      <h5 class="card-title">Your Post Title</h5>
      <p class="card-text">Your Post Description</p>
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <img src="heart-icon.png" alt="Like" class="mr-2">
          <span>123</span>
        </div>
        <div class="d-flex align-items-center">
          <img src="comment-icon.png" alt="Comment" class="mr-2">
          <span>23</span>
        </div>
        <div class="d-flex align-items-center">
          <img src="share-icon.png" alt="Share" class="mr-2">
          <span>10</span>
        </div>
      </div>
    </div>
  </div>