{% extends "base/base.html" %}
{% load static %}



{% block title %}Home{% endblock title %}



{% block advertisement %}

<div class="mx-auto max-w-[1170px] px-4 sm:px-8 xl:px-0 relative z-1">
  <div class="flex flex-wrap gap-x-7.5 gap-y-9">
    <!-- Hero item -->
    <div
      class="max-w-[1170px] w-full flex flex-col lg:flex-row lg:items-center gap-7.5 lg:gap-11 bg-white shadow-1 rounded-xl p-4 lg:p-2.5"
    >
      <div class="lg:max-w-[536px] w-full">
        <a href="blog-single.html">
          <img
            class="w-full"
            src="{% static 'images/hero-01.png' %}"
            alt="hero"
          />
        </a>
      </div>

      <div class="lg:max-w-[540px] w-full">
        <a
          href="category.html"
          class="inline-flex text-purple-dark bg-purple/[0.08] font-medium text-sm py-1 px-3 rounded-full mb-4"
          >ADVERTISEMENT</a
        >
        <h1
          class="font-bold text-custom-4 xl:text-heading-4 text-dark mb-4"
        >
          <a href="blog-single.html">
            Fiesta Is Coming!!! Are you Ready to Participate/Enjoy/Roam?
          </a>
        </h1>
        <p class="max-w-[524px]">
          This comprehensive post serves as your cheat-sheet to swiftly
          familiarize yourself with Ghost. Packed with crucial...
        </p>
        <div class="flex items-center gap-2.5 mt-5">
          <a href="author.html" class="flex items-center gap-3">
            <div class="flex w-6 h-6 rounded-full overflow-hidden">
              <img src="{% static 'images/user-01.png' %}" alt="user" />
            </div>
            <p class="text-sm">Adrio Devid</p>
          </a>

          <span
            class="flex w-[3px] h-[3px] rounded-full bg-dark-2"
          ></span>

          <p class="text-sm">Sep 10, 2025</p>
        </div>
      </div>
    </div>

    <!-- Hero item -->
    <div
      class="lg:max-w-[570px] w-full flex flex-col sm:flex-row sm:items-center gap-6 bg-white shadow-1 rounded-xl p-2.5"
    >
      <div class="lg:max-w-[238px] w-full">
        <a href="blog-single.html">
          <img
            class="w-full"
            src="{% static 'images/hero-02.png' %}"
            alt="hero"
          />
        </a>
      </div>

      <div class="lg:max-w-[272px] w-full">
        <a
          href="category.html"
          class="inline-flex text-blue bg-blue/[0.08] font-medium text-sm py-1 px-3 rounded-full mb-4"
          >ADVERTISEMENT</a
        >
        <h2 class="font-semibold text-custom-lg text-dark mb-3">
          <a href="blog-single.html">
            14 Innovative Architectural Designs to Create a Vast
            Interior Space
          </a>
        </h2>
        <div class="flex items-center gap-2.5">
          <p class="text-sm">
            <a href="author.html">By Adrio Devid</a>
          </p>

          <span
            class="flex w-[3px] h-[3px] rounded-full bg-dark-2"
          ></span>

          <p class="text-sm">Sep 10, 2025</p>
        </div>
      </div>
    </div>

    <!-- Hero item -->
    <div
      class="lg:max-w-[570px] w-full flex flex-col sm:flex-row sm:items-center gap-6 bg-white shadow-1 rounded-xl p-2.5"
    >
      <div class="lg:max-w-[238px] w-full">
        <a href="blog-single.html">
          <img
            class="w-full"
            src="{% static 'images/hero-03.png' %}"
            alt="hero"
          />
        </a>
      </div>

      <div class="lg:max-w-[272px] w-full">
        <a
          href="category.html"
          class="inline-flex text-green-dark bg-green/[0.08] font-medium text-sm py-1 px-3 rounded-full mb-4"
          >ADVERTISEMENT</a
        >
        <h2 class="font-semibold text-custom-lg text-dark mb-3">
          <a href="blog-single.html">
            Traveller Visiting Ice Cave With Amazing Eye-catching view
            with nature
          </a>
        </h2>
        <div class="flex items-center gap-2.5">
          <p class="text-sm">
            <a href="author.html">By Adrio Devid</a>
          </p>

          <span
            class="flex w-[3px] h-[3px] rounded-full bg-dark-2"
          ></span>

          <p class="text-sm">Sep 10, 2025</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock advertisement %}






{% block main %}

<section class="pt-20 lg:pt-25 pb-15">
  <div class="max-w-[1170px] mx-auto px-4 sm:px-8 xl:px-0">
    <!-- section title -->
    <div class="mb-12.5 text-center">
      <h2
        class="text-dark mb-3.5 text-2xl font-bold sm:text-4xl xl:text-heading-3"
      >
        By Your Reports
      </h2>
      <p>Posts with Similar interests</p>
    </div>
      <!-- Blog Categories Tab End -->

      <!-- Blog Categories Content Start -->
      <div>
        <!-- All content start -->
          <div
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-y-11 gap-x-7.5"
          >



          {% for post in posts %}
          {% include "base/post_card.html" %}
          {% endfor %}
            

            
            
          </div>
      
        <!-- Culture content end -->
      </div>
      <!-- Blog Categories Content End -->
    </div>
  </div>
</section>

















{% comment %} 
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    {% for ad in ads %}
    <div class="carousel-item active">
      <img src="{{ad.image.url}}" class="d-block w-100" alt="...">
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> {% endcomment %}




{% endblock main %}